{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'poll/style.css' %}" type = "text/css" >
<title>Login</title>
{% endblock %}




{% block body %}
<div class = "jumbotron">
 <h1>Welcome</h1>
</div>
<div class = "container">
    aapka swagat hai
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
<button type="submit" class="btn btn-default">Login</button>
 </div>
<h2>{{ myname }}</h2>
<ul>
    {% for num in nos %}
    <li>{{ num }}</li>
    {% endfor %}

</ul>
{% endblock %}
</body>
</html>