
<html lang="en">
<head>
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% block head %}
    <title>Base</title>
    {% endblock %}
</head>

<body>
<div class="container">
<br>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/poll/">Le` Social</a>
    </div>
      {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
      <li class="active"><a href="/poll/">Home</a></li>
      <li><a href="/poll/profile/">View Profile</a></li>
      <li><a href="/poll/change-password/">change Password</a></li>
      <li><a href="/poll/profile/edit/">Edit Profile</a></li>
      <li><a href="/poll/password-reset/">Reset Password</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/poll/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
{% else %}
      <ul class="nav navbar-nav">

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/poll/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/poll/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

{% endif %}
  </div>
</nav>
</div>




{% block body %}
    <h1>base</h1>

{% endblock %}
</body>
</html>